################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/build_x64

/.idea
/Windows
/iOS
/Android
/macOS
/Windows32
/Linux