################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/build_x64
/*.bak
/.idea
/Win64
/iOS
/Android
/macOS
/Win32
/Linux